.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;

  &.btn-primary, &.btn-secondary{
    padding: 10px;
    font-size: 16px;
    border-radius: .75rem;
  }

  &.btn-primary{
    background-color: var(--primary-200);
    color: var(--text-200);

    &:hover{
      background-color: var(--primary-300);
      color: var(--text-100);
    }
  }

  &.btn-secondary{
    background-color: var(--accent-100);
    color: var(--text-200);

    &:hover{
      background-color: var(--accent-200);
      color: var(--text-100);
    }
  }
}
