:host{
  margin-top: 25px;
  padding:25px 0;
  background: var(--bg-200);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2{
    text-align: center;
    margin:0;
    margin-bottom: 10px;
  }

  ul{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    li{
      width: 50px;
      height: 50px;
      padding: 0;
      background: var(--bg-300);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: xx-large;
      color: var(--text-200);
    }
  }
}
