/* You can add global styles to this file, and also import other style files */
// COLORS PALLETE
:root{
  $primary-100:#2ECC71;
  $primary-200:#00ae56;
  $primary-300:#006a18;
  $accent-100:#3498DB;
  $accent-200:#004079;
  $text-100:#FFFFFF;
  $text-200:#e0e0e0;
  $bg-100:#1A1A1A;
  $bg-200:#292929;
  $bg-300:#404040;
}
