<div class="bg-gradient-darkblue">
  <header class="container-md align-self-center text-center pt-5">
  <img src="assets/imgs/ronnan.jpg"
  alt="Foto de Perfil do Candidato"
  width="130px"
  height="130px"
  loading="eager"
  class="d-inline-block img-thumbnail rounded-pill">
  <h1 class="d-inline-block ms-4 text-white fw-bolder">Ronnan Santos</h1>
</header>
<aside class="text-white">
  <div class="container-md fs-3">
    <p class="text-center mt-2">FULLSTACK Junior | Angular | Node | MySQL</p>
    <p class="city ms-5 ps-5 ps-md-0 ms-md-0 text-md-center">Uberaba - Minas Gerais, Brasil</p>
    <p class="about-me">
      Sou apaixonado por programação e sempre busco me aprimorar em novas tecnologias.
    </p>
    <nav>
      <ul class="text-decoration-none list-unstyled">
        <li class="d-inline-block ms-2">
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-success"><i class="fa-solid fa-download"></i> CV (PDF)</a>
        </li>
        <li class="d-inline-block ms-2">
          <a href="https://www.linkedin.com/in/ronnan-santos-070484190/" target="_blank" class="btn btn-primary text-uppercase"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        </li>
      </ul>
    </nav>
    <section>
      <!-- WhatsApp Figure -->
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="" width="30px" height="30px" alt="Icone para o WhatsApp"/>
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5534996375204&text=Oi%20Ronnan%2C%20estava%20vendo%20seu%20portf%C3%B3lio%20no%20GitHub." target="_blank" rel="noopener noreferrer">
          <strong>Envie uma mensagem para:</strong>
          <p>WhatsApp: (34) 9 9637-5204</p>
        </a>
        </figcaption>


      </figure>
      <!-- EMAIL Figure -->
      <figure>
        <img src="assets/icons/mail.svg" alt="" width="30px" height="30px" alt="Icone de E-mail"/>
        <figcaption>
          <a href="mailto:ronnan81@gmail.com" target="_blank" rel="noopener noreferrer" >
          <strong>Envie um email para:</strong>
          <p>ronnan81&#64;gmail.com</p>
        </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
</div>
